<!DOCTYPE html>
<html>
<head>
    <title>Canvas Example</title>
    <style>
        body {
            background-color:  #03A9F4;
        }
        canvas {
            border: 1px solid black;
            background-color: #FFC107;
            border-radius: 15px;
        }
    </style>
</head>
<body>
    <h1>Welcome to My Canvas Example</h1>
    <p>Click on the canvases below to draw points.</p>

    <canvas id="canvas1" width="512" height="512"></canvas>
    <canvas id="canvas2" width="512" height="512"></canvas>

    <script src="{{ url_for('static', filename='js/draw.js') }}"></script>
    <script>
        var points1 = {{ points1 | tojson }};
        var points2 = {{ points2 | tojson }};
        drawPoints('canvas1', points1);
        drawPoints('canvas2', points2);
    </script>

    <script>
        
    </script>

</body>
</html>